/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@PerspectivePurple: #3C1642;
@TeachingTeal: #086375;
@AcademicAqua: #1DD3B0;
@LearningLime: #AFFC41;
@StudentCentricCeladon: #B2FF9E;
@OverallOrange: #FA7921;

@MainColor: @LearningLime;
@MainLight: @MainColor + #222222;
@MainDark: @MainColor - #222222;

@Charcoal: #1a1a1a;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@textSize: 3vh;
@tx: @textSize;

@vh: 6.5px;

.HeadFont(){
	font-family: sans-serif;
}

.BodyFont(){
	font-family: sans-serif;
}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

p, h1, h2, h3, ul, li{
	.BodyFont();
	margin: (0.5 * @textSize) auto;
}

h1, h2, h3{
	.HeadFont();
	text-align: center;
	font-weight: bold;
}

h1{
	font-size: 1.5 * @textSize;
	line-height: 1.75 * @textSize;
}

h2{
	font-size: 1.25 * @textSize;
	line-height: 1.5 * @textSize;
}

h2{
	font-size: 1.1 * @textSize;
	line-height: 1.35 * @textSize;
}

p{
	font-size: 1.0 * @textSize;
	line-height: 1.25 * @textSize;
	text-align: center;
}

ul{
	width: 80%;
	margin: auto 10%;
}

li{
	font-size: 1.0 * @textSize;
	line-height: 1.25 * @textSize;
	list-style: disc;
	margin: (0.15 * @textSize) auto;
}

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{
	background: @PerspectivePurple;
	//Default Text Styles
	.BodyFont();
	font-size: @textSize;
	color: white;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	width: 100vw;
	margin: 0 auto;
}

.AnimateAll(@time: 0.5s){
	transition: all @time ease;
	-webkit-transition: all @time ease;
}

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

@DefaultPadding: 4vw;

div.scene{
	margin: 0 auto;
	padding: @DefaultPadding;
	width: 100vw - (2 * @DefaultPadding);
}

div.sky{
	background: @AcademicAqua;
}

.Slant(@slantColor, @slantHeight, @left){
	
	margin: auto (-1 * @DefaultPadding);
	margin-top: -1 * @slantHeight;
	width: 0;
	height: 0;
	border-top: @slantHeight solid transparent;
	border-bottom: -100vw solid transparent;
	
	& + div.dramatic{
		width: 100vw;
		margin: auto (-1 * @DefaultPadding);
		padding: @DefaultPadding;
		padding-bottom: 1.5 * @slantHeight;
		background: @slantColor;
	}
	
	& when (@left){
		border-left: 100vw solid @slantColor;
	}
	
	& when not (@left){
		border-right: 100vw solid @slantColor;
	}

	.AnimateAll();

}

ul.dramatic{}

div.ground{
	
	background: @LearningLime;

	@slantHeight: 3vh;

	p{
		margin-bottom: 2 * @slantHeight;
	}

	div.slant-div{

		&:nth-child(2){
			.Slant(@TeachingTeal, @slantHeight, true);
		}

		&:nth-child(4){
			.Slant(@PerspectivePurple, @slantHeight, false);
		}

		&:nth-child(6){
			.Slant(@OverallOrange, @slantHeight, true);
		}

	}

}

div.school-icons{

	width: 65vw;
	padding: 1vw;
	display: block;
	margin: 0 auto;
	margin-bottom: -2 * @DefaultPadding;

	img{
		display: inline-block;
		width: 20vw;
		margin: 1vw;
		margin-bottom: 0;
	}

	img:nth-child(2){
		width: 15vw;
	}

}

div.rsvp{
	
	background: @PerspectivePurple;

	input{

		background: lighten(@PerspectivePurple, 10%);
		color: white;

		&:focus{
			background: white;
			color: @PerspectivePurple;
			font-weight: bold;
		}

		.AnimateAll();

	}

}

/*--------------------------------------------*/
/*---> HEADER & FOOTER <----------------------*/
/*--------------------------------------------*/



/*--------------------------------------------*/
/*---> FORM <----------------------------------*/
/*--------------------------------------------*/

input, button, select{
	outline: none;
	border: none;
}

input{
	display: block;
	width: 88vw;
	margin: @DefaultPadding auto;
	padding: 0.5 * @DefaultPadding;
}

/*--------------------------------------------*/
/*---> CIRCLE BULLSHIT <----------------------*/
/*--------------------------------------------*/

//As instructed in S/O:
//http://stackoverflow.com/questions/12813573/position-icons-into-circle

.CreateCircle(@diameter){

}

div#earth{

	background: url('img/earth-long-double.png');
	background-size: auto 100%;
	background-repeat: repeat-x;
	.SpinningGlobe();
	transform: rotate(-12deg);

	div.circle{
		transform: rotate(12deg);
		position: relative;
		top: 50%;
	}

	h1{
		text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	}

	div.chord-six div.circle-chord{
		.WipingChord();
	}

	.AnimateAll();

}

.SpinningGlobe(){
	@-webkit-keyframes spinGlobe{
		from{
			background-position: right top;
		}
		to{
			background-position: left top;
		}
	}
	animation: spinGlobe 10s linear infinite;
}

.WipingChord(){
	@-webkit-keyframes wipeChord{
		0%{
			border-color: @OverallOrange;
		}
		50%{
			border-color: @AcademicAqua;
		}
		100%{
			border-color: @OverallOrange;
		}
	}
	animation: wipeChord 5s linear infinite;
}

div.circle-wrapper{

	@diameter: (50*@vh) - (4 * @DefaultPadding);
	background: @TeachingTeal;
	margin: (2 * @DefaultPadding) auto;
	border-radius: 50%;
	width: @diameter;
	height: @diameter;
	position: relative;

	@elementSize: 0.20 * @diameter;

	.CircularPosition(@dm, @angle){
		transform: rotate(-1 * @angle) translate(0.5 * @dm) rotate(@angle);
	}

	.circle-element{
		position: absolute;
		top: 50%;
		left: 50%;
		width: @elementSize;
		height: @elementSize;
		margin: -0.5 * @elementSize;
	}

	h1.circle-element{
		text-align: center;
		width: @diameter;
		color: white;
		top: 50% - (1.75 * @tx);
		left: 0%;
		display: inline;
		margin: 0 auto;
		font-size: 1.75 * @textSize;
	}

	div.circle-chord{

		.circle-element();
		left: 0%;
		display: block;
		margin: 0 auto;
		height: 0;
		width: 0.5 * @diameter;
		border: 3px dashed @OverallOrange;
	
	}

	@half-x: 0.125 * @diameter;
	@x-root-3: 0.125 * @diameter * sqrt(3);

	div.chord-six div.circle-chord{

		&:nth-child(1){transform: translate(-1 * @half-x, 1 * @x-root-3) rotate(60deg);}
		&:nth-child(2){transform: rotate(180deg) translate(-2 * @half-x, -2 * @x-root-3);}
		&:nth-child(3){transform: rotate(120deg) translate(-1 * @half-x, -3 * @x-root-3);}
		&:nth-child(4){transform: rotate(60deg) translate(1 * @half-x, -3 * @x-root-3);}
		&:nth-child(5){transform: rotate(180deg) translate(-2 * @half-x, 2 * @x-root-3);}
		&:nth-child(6){transform: rotate(120deg) translate(-1 * @half-x, 1 * @x-root-3);}

	}

	div.circle-div{

		background: @OverallOrange;
		border-radius: 50%;
		text-align: center;
		line-height: @elementSize;

		&:hover{
			background: @StudentCentricCeladon;
		}

		.AnimateAll();
		
	}

	div.circle-six div.circle-div{

		&:nth-child(1){.CircularPosition(@diameter, 0deg)}
		&:nth-child(2){.CircularPosition(@diameter, 60deg)}
		&:nth-child(3){.CircularPosition(@diameter, 120deg)}
		&:nth-child(4){.CircularPosition(@diameter, 180deg)}
		&:nth-child(5){.CircularPosition(@diameter, 240deg)}
		&:nth-child(6){.CircularPosition(@diameter, 300deg)}
	}

	.AnimateAll();

}

/*--------------------------------------------*/
/*---> SCROLLBAR <----------------------------*/
/*--------------------------------------------*/

@scrollBar: white;
@scrollBarBack: @MainColor;

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background: @scrollBarBack;
	z-index: 50;
	position: absolute;
	display: none;
}

::-webkit-scrollbar-button{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track-piece{
	background: @scrollBarBack;
}

::-webkit-scrollbar-thumb{
	background: @scrollBar;
	//border-radius: 5px;
	position: absolute;
	margin-left: -10px;
}

::-webkit-scrollbar-corner{
	width: 10px;
	height: 10px;
	background: @scrollBarBack;
}

::-webkit-resizer{
	background: @scrollBarBack;
}